@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (max-width: 991px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (max-width: 991px) {
}
@media (max-width: 991px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
.bursts-hero {
  height: 100vh;
  text-align: center;
  background: url(/i/home/lieVariants/bursts-mobile.svg) no-repeat;
  background-size: 195%;
  /*rtl:ignore*/
  background-position: top 25% center;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bursts-hero .bursts-heading {
  margin: 0 24px;
}
.bursts-hero .bursts-heading h1 {
  letter-spacing: -0.04em !important;
}
.bursts-hero .btn {
  color: #2940a8;
  background-color: #1ED760;
  line-height: 16px;
  letter-spacing: 1.4px;
  padding: 16px 40px 16px;
}
.bursts-hero .btn:hover,
.bursts-hero .btn:focus {
  background-color: #FFF;
}
@media (min-width: 768px) {
  .bursts-hero {
    background: url(/i/home/lieVariants/bursts-tablet.svg) no-repeat;
    background-size: 153%;
    /*rtl:ignore*/
    background-position: right 40% center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bursts-hero .bursts-heading {
    padding-top: 0;
    width: 754px;
  }
}
@media (min-width: 1200px) {
  .bursts-hero {
    background: url(/i/home/lieVariants/bursts.svg) no-repeat;
    background-size: 175%;
    /*rtl:ignore*/
    background-position: 46% 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 846px;
  }
  .bursts-hero .bursts-heading {
    padding-top: 0;
    width: auto;
  }
  .bursts-hero .en-lie-tagline {
    width: 800px;
    /*rtl:ignore*/
    text-indent: -3.3em;
    -webkit-transform: translate(125px, 0px);
        -ms-transform: translate(125px, 0px);
            transform: translate(125px, 0px);
    /*rtl:ignore*/
  }
  .bursts-hero .es-lie-tagline {
    width: 800px;
  }
  .bursts-hero .fr-lie-tagline {
    width: 835px;
    text-indent: -2.5em;
    -webkit-transform: translate(70px, 0px);
        -ms-transform: translate(70px, 0px);
            transform: translate(70px, 0px);
  }
  .bursts-hero .tr-lie-tagline {
    width: 725px;
  }
  .bursts-hero .default-lie-tagline {
    width: 1020px;
  }
}
@media (min-width: 1600px) {
  .bursts-hero {
    background-size: 165%;
    /*rtl:ignore*/
    background-position: 43% 0%;
    /*rtl:ignore*/
  }
}
@media (min-width: 2000px) {
  .bursts-hero {
    background-size: 170%;
    /*rtl:ignore*/
    background-position: 44% 7%;
    /*rtl:ignore*/
  }
}
.index-homepage .wrap {
  background: #2D46B9;
}
.index-homepage h1 {
  color: #1ED760;
  margin-bottom: 24px;
  line-height: 1;
}
.index-homepage h1:lang(ar) {
  margin-bottom: 32px;
}
.index-homepage h4 {
  color: #1ED760;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .index-homepage h1 {
    color: #1ED760;
    font-size: 104px;
    margin-bottom: 40px;
  }
  .index-homepage h1:lang(fr),
  .index-homepage h1:lang(zh_HANT) {
    font-size: 96px;
  }
  .index-homepage h1:lang(ar) {
    margin-bottom: 64px;
  }
  .index-homepage h4 {
    color: #1ED760;
    font-size: 18px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .index-homepage h1 {
    color: #1ED760;
    font-size: 156px;
    line-height: 166px;
    margin-bottom: 40px;
  }
  .index-homepage h1:lang(fr),
  .index-homepage h1:lang(zh_HANT) {
    font-size: 156px;
  }
  .index-homepage h1:lang(ar) {
    margin-bottom: 72px;
  }
}